.title {
  width: 80%;
  position: absolute;
  top: -40px;
  left: 40px;
}

.large {
    font-size: 6em;
}

.small {
    font-size: 4em;
}

.light {
    color: white;
}

.dark {
    color: black;
}

.line {
    width: 40%;
    background: white;
    height: 2px;
}